* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 24px;
}

button:hover {
    cursor: pointer;
}

.header {
    background-color: #ffffff;
    font-size: 2.8rem;
    font-weight: bolder;
    text-align: center;
    padding: 32px;
}

.add-book {
    background-color: inherit;
    background-image: url("./images/plus.svg");
    background-size: cover;
    width: 48px;
    height: 48px;
    border: 0;


    position: fixed;
    top: 64px;
    left: 64px;
}

.add-book-form {
    display: flex;
    flex-direction: column;
}

.add-book-form-input {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.add-book-form-input,
.add-book-form-checkbox {
    margin-bottom: 12px;
}

.add-book-form-input input {
    min-width: 36ch;
}

.library-div {
    margin: 24px 148px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    gap:24px;
}

.library-entry {
    background-color: #f4f4f5;
    padding: 8px 8px 24px;
    box-shadow: 3px 3px 3px #d4d4d8;

    display: grid;
    grid-template-columns: 36px 1fr 120px 1fr 36px;
    grid-template-rows: 36px 1fr 36px;

}

.library-entry-info {
    white-space: nowrap;
    overflow: hidden;
    padding-top: 8px;

    grid-row: 2;
    grid-column: 2 / 5;
}

.library-entry-info div{
    margin-bottom: 4px;
}

.library-entry-info div:nth-last-child(2) {
    margin-bottom: 12px;
}

.library-entry-info div:last-child {
    margin-bottom: 12px;
}

.library-entry-remove-btn {
    background-color: inherit;
    background-image: url("./images/cross.svg");
    background-size: cover;
    border: 0;

    grid-row: 1;
    grid-column: 5;
}

.library-entry .library-entry-info>div:nth-child(4) {
    color: #dc2626;
}

.library-entry .library-entry-info>div:nth-child(4)::after {
    content: "Not read";
}

.library-entry[read] .library-entry-info>div:nth-child(4) {
    color: #16a34a;
}

.library-entry[read] .library-entry-info>div:nth-child(4)::after {
    content: "Read";
}

.library-entry-toggle-read-btn {
    color: #fafafa;
    border: 0;

    grid-row: 3;
    grid-column: 3;
}

.library-entry-toggle-read-btn * {
    pointer-events: none;
}

.library-entry .library-entry-toggle-read-btn {
    background-color: #16a34a;
}

.library-entry[read] .library-entry-toggle-read-btn {
    background-color: #dc2626;
}

.library-entry .library-entry-toggle-read-btn>span::after {
    content: "Mark as read";
}

.library-entry[read] .library-entry-toggle-read-btn>span::after {
    content: "Mark as not read";
}

.full-text-container {
    color: #fafafa;
    font-size: 0.8rem;
    background-color: rgb(24, 24, 27, 0.9);
    padding: 4px;
    display: none;
    position: fixed;
}